<a href="https://colab.research.google.com/github/wem117/pp2/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

#python variables w3
#True or False:
#You can declare string variables with single or double quotes.

x = "John"
# is the same as
x = 'John'

#true

In [ ]:

#Select the correct functions to print the data type of a variable:
print(type(myvar))

In [ ]:
#Create a variable named carname and assign the value Volvo to it.
carnage = "Volvo"

In [ ]:
#Insert the correct syntax to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"

In [ ]:

#What will be the printed result?
x = 'awesome'
def myfunc():
  x = 'fantastic'
myfunc()
print('Python is ' + x)

In [ ]:
#Insert the correct keyword to make the variable x belong to the global scope.
def myfunc():

global x

  x = "fantastic"

In [ ]:
#The following code example would print the data type of x, what data type would that be?
x = 5
print(type(x))
#int

In [ ]:
#Insert the correct syntax to convert x into a floating point number.


x = 5
x = float(x)

In [2]:
#What will be the result of the following code:
x = 'Welcome'
print(x[3])
#c

c

In [ ]:
#Use the len function to print the length of the string.


x = "Hello World"
print(len(x))

In [ ]:
#Get the first character of the string txt.


txt = "Hello World"
x = txt[0]

In [ ]:
#Get the characters from index 2 to index 4 (llo).


txt = "Hello World"
x = txt[2:5]

In [4]:
#Return the string without any whitespace at the beginning or the end.


txt = " Hello World "
x = txt.strip()

In [ ]:
#Convert the value of txt to lower case.


txt = "Hello World"
txt = txt.lower()

In [ ]:
#Convert the value of txt to upper case.


txt = "Hello World"
txt = txt.upper()

In [ ]:
#Replace the character H with a J.


txt = "Hello World"
txt = txt.replace("H", "J")

In [ ]:
#Insert the correct syntax to add a placeholder for the age parameter.


age = 36
txt = f"My name is John, and I am {age}"
print(txt)