<a href="https://colab.research.google.com/github/wem117/pp2/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python operators w3

In [1]:
x = 5
x +=3
print(x)

8

Multiply 10 with 5, and print the result

In [2]:
print(10 * 5)

50

Divide 10 by 2, and print the result.

In [3]:
print(10 / 2)

5.0

Use the correct membership operator to check if "apple" is present in the fruits object.

In [4]:
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

Use the correct comparison operator to check if 5 is not equal to 10.

In [6]:
if 5 != 10:
  print("5 and 10 is not equal")

5 and 10 is not equal

Use the correct logical operator to check if at least one of two statements is True.

In [8]:
if 5 == 10 or 4 == 4:
  print("At least one of the statements is true")

At least one of the statements is true

**Python list w3**

What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
print(mylist[1])

In [9]:
mylist = ['apple', 'banana', 'cherry']
print(mylist[1])

banana

What will be the result of the following syntax:

In [10]:
mylist = ['apple', 'banana', 'banana', 'cherry']
print(mylist[2])

banana

True or False.
List items cannot be removed after the list has been created.

False

Select the correct function for returning the number of items in a list:

In [11]:
thislist = ['apple', 'banana', 'cherry']
print(len(thislist))

3

What will be the result of the following syntax:

In [12]:
mylist = ['apple', 'banana', 'cherry']
print(mylist[-1])

cherry

Print the second item in the fruits list.

In [13]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

What will be the result of the following syntax:

In [14]:
mylist = ['apple', 'banana', 'cherry', 'orange', 'kiwi']
print(mylist[1:4])

['banana', 'cherry', 'orange']

Use a range of indexes to print the third, fourth, and fifth item in the list.

In [16]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

What will be the result of the following syntax:

In [18]:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = 'kiwi'
print(mylist[1])

banana

Change the value from "apple" to "kiwi", in the fruits list.

In [19]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

What will be the result of the following syntax:

In [20]:
mylist = ['apple', 'banana', 'cherry']
mylist[1:2] = ['kiwi', 'mango']
print(mylist[2])

mango

What will be the result of the following syntax:

In [21]:
mylist = ['apple', 'banana', 'cherry']
mylist.insert(0, 'orange')
print(mylist[1])

apple

Use the insert method to add "lemon" as the second item in the fruits list.

In [26]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

Select the missing parts to add the elements of tropical to fruits:

In [27]:
fruits = ['apple', 'banana', 'cherry']
tropical = ['mango', 'pineapple', 'papaya']
fruits.extend(tropical)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Use the remove method to remove "banana" from the fruits list.

In [28]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")

What will be the result of the following syntax:

In [29]:
mylist = ['apple', 'banana', 'cherry']
mylist.pop(1)
print(mylist)

['apple', 'cherry']

Insert the missing part of the while loop below to loop through the items of a list.

In [30]:
mylist = ['apple', 'banana', 'cherry']
i = 0
while i < len(mylist):
  print(mylist[i])
  i = i + 1

apple
banana
cherry

Fill in the missing parts to complete the list comprehension:

In [ ]:
fruits = ["apple", "banana", "cherry"]
newlist = [x for x in fruits]

python **tuple**

In [ ]:
fruits = ("apple", "banana", "cherry")
print(len(fruits))

Insert the missing part of the while loop below to loop through the items of a tuple

In [31]:
mytuple = ('apple', 'banana', 'cherry')
i = 0
while i < len(mytuple):
  print(mytuple[i])
  i = i + 1

apple
banana
cherry

Insert the missing part of the for loop below to loop through the items of a tuple by using the range function to loop through the tuple's index numbers.

In [32]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

**python set w3**

Select the correct function for returning the number of items in a set:

In [33]:
fruits = {'apple', 'banana', 'cherry'}
print(len(fruits))

3

Check if "apple" is present in the fruits set.

In [34]:
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

Use the add method to add "orange" to the fruits set.

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")

Use the correct method to add multiple items (more_fruits) to the fruits set.

In [ ]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)

Use the remove method to remove "banana" from the fruits set.

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")

Use the discard method to remove "banana" from the fruits set.

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")

Select the correct function to remove all items from a set:

In [ ]:
fruits = {'apple', 'banana', 'cherry'}
fruits.clesr()

nsert the missing part of the for loop below to loop through the items of a set.

In [ ]:
myset = {'apple', 'banana', 'cherry'}
for x in myset:
  print(x)

**python dictionary w3**

Select the correct function to print the number of key/value pairs in the dictionary:

In [ ]:
x = {'type' : 'fruit', 'name' : 'banana'}
print(len(x))

Use the get method to print the value of the "model" key of the car dictionary.

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

Change the "year" value from 1964 to 2020.

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"] = 2020

 Add the key/value pair "color" : "red" to the car dictionary.

In [ ]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["color"] = "red"

Insert the missing part to add an item to the dictionary.

In [ ]:
x = {'type' : 'fruit', 'name' : 'apple'}
x.update({'color' : 'green'})

**python loop w3**

Print i as long as i is less than 6.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

Stop the loop if i is 3.

In [ ]:
i = 1
while i < 6:
  if i == 3:
    break
  i += 1

In the loop, when i is 3, jump directly to the next iteration.

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

Print a message once the condition is false.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

Loop through the items in the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)